:root {
  --color_primary: blue;
  --color-highlitered: violet;
  --font-form: 'Times New Roman', Times, serif;

/*input*/
  --input-bg-file: #403cfb;
  --input-hv-file: #3511a0;
  --input-shadow-file: #1b1f6b;
  --input-bg-submit: #24c18a;
  --input-hv-submit: #35a76e;
  --input-shadow-submit: #35a76e;
}

* {
  outline: 0 !important;
}

body {
	background: repeat url(images/bg.gif);
	text-align: center;
	padding: 3em;
	min-width: 700px
}

#content {
	background: repeat url(images/bg1.png);
	border-radius: 25px;
	box-shadow: 0 0 10px var(--color-highlitered);
	padding: 1em 5em;
	text-align: center;	
}

h1 {
	text-shadow: 1px 1px 2px black, 0 0 1em var(--color_primary);
	text-align: center;
}

.p_big{
	font-size: 1.5em;	
}

.s_highlighted {
	color: var(--color_primary);
	font-style: italic;
}

.flex_center {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

figure {
	max-width: 45%;
}

figcaption {
	text-align: center;
	font-size: 1.5em;
}

img {
	width: 100%;
	border-radius: 25px;
	box-shadow: 5px 0 10px var(--color-highlitered);
	opacity: 0.8;
}

img:hover {
  opacity: 1;
}

p {
  color: var(--color_primary); 
}


/*Form Registration*/
form[name="Регистрация"] {
	max-width: 50%;
	margin: auto;
	font-family: var(--font-form);
    font-style: italic;
}

fieldset {
	border-radius: 25px;
}

form label:before, form label:after{
    content: ' ';
     display: block;
}

form label, form legend {
	margin-bottom: 0.5em;
	font-weight: 900;
}

/*checkbox, radio*/
label.checkbox, label.radio {
    width: 32px;
    height: 26px;
    margin: auto;
    display: block;
    position: relative;
   }
   input[type="checkbox"] + span, input[type="radio"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(images/star.png) no-repeat;
    cursor: pointer;
   }
   input[type="checkbox"]:checked + span, input[type="radio"]:checked + span {
    background-position: 0 -26px; 
   }

   input[type="radio"] + span {
   background: url(images/radiobutton.png) no-repeat;
   }

/*input file, submit*/
   form input[type="file"], input[type="submit"] {
	  font-weight: 700;
	  color: white;
	  text-decoration: none;
	  padding: .8em 1em;
	  box-shadow: 0 -3px var(--input-shadow-submit) inset;
	  transition: 0.2s;
	  border-radius: 10px;
	  background: var(--input-bg-submit);
   }

	input[type="submit"]:hover {
	background: var(--input-hv-submit);
	}

	input[type="file"]:hover {
	background: var(--input-hv-file);
	}

   form input[type="file"] {
   	background: var(--input-bg-file);
   	box-shadow: 0 -3px var(--input-shadow-file) inset;
   }

 /*  first paragraph*/

blockquote {
margin: 0;
background: #BCE8EA;
color: #131314;
padding: 30px 30px 30px 90px;
position: relative;
font-family: 'Lato', sans-serif;
}
blockquote:before {
content: "\201C";
font-family: serif;
position: absolute;
top: 20px;
left: 16px;
color: black;
width: 40px;
height: 40px;
border-radius: 50%;
background: white;
font-size: 40px;
font-weight: bold;
text-align: center;
line-height: 50px;
}
blockquote:after {
content: "";
width: 4px;
background: white;
position:absolute;
left: 70px;
top: 20px;
bottom: 20px;
}
blockquote p {
margin-top: 0;
font-size: 24px;
font-weight: 300;
}
blockquote cite {
font-style: normal;
font-weight: bold;
text-transform: uppercase;
}
/*git*/
/*antuan*/
blockquote#Antuan {
background: #fefcea; /* Для старых браузров */
background: linear-gradient(to top, #756bf9, #6b9ff9);
border-top: 5px solid #6b9ff9;
border-bottom: 5px solid #756bf9;
color: #3A3C55;
font-weight: 300;
border-radius: 25px;
}
blockquote#Antuan:before {
left: 20px;
color: white;
background: #000;
width: 50px;
height: 50px;
font-size: 50px;
line-height: 1.35;
}
blockquote#Antuan p {
margin: 0 0 16px;
font-size: 22px;
letter-spacing: .05em;
line-height: 1.4;
color: #fff;
}